<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="custom" is="dmx-app" id="createdemande" appConnect="local" components="{dmxBootstrap5Modal:{}}" -->
<div class="modal" id="modaldescriptiontask" is="dmx-bs5-modal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Description of Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <textarea id="txtAreaDescription" class="form-control" row="20" name="descricao"></textarea>
                <p>Descreva com detalhes a tarefa</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnSalveDescription">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <form method="post" dmx-generator="bootstrap5" dmx-form-type="vertical">
                <div class="row gx-3">
                    <div class="col">
                        <div class="form-group mb-3">
                            <label for="inp_nome">Task Name</label>
                            <input type="text" class="form-control" id="inp_nome" name="nome" aria-describedby="inp_nome_help" placeholder="Enter Nome" dmxorgdomid="d72">
                        </div>

                        <div class="d-flex">
                            <div class="form-group mb-3">
                                <label for="inp_nome1">Description</label>

                                <input type="textarea" class="form-control" id="inp_nome1" name="nome1" aria-describedby="inp_nome_help" placeholder="Enter Nome" dmxorgdomid="d72">
                            </div><button id="btnDescription" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modaldescriptiontask">Button</button>
                        </div>
                    </div>
                </div>
                <div class="row gx-3">
                    <div class="col">
                        <div class="form-group mb-3">
                            <label for="inp_estimativa_horas">Estimativa horas</label>
                            <input type="number" class="form-control" id="inp_estimativa_horas" name="estimativa_horas" aria-describedby="inp_estimativa_horas_help" placeholder="Enter Estimativa horas" dmxorgdomid="d84">
                        </div>
                    </div>
                </div>
                <div class="row gx-3">
                    <div class="col">
                        <div class="form-group mb-3">
                            <label for="inp_status">Status</label>
                            <input type="text" class="form-control" id="inp_status" name="status" aria-describedby="inp_status_help" placeholder="Enter Status" dmxorgdomid="d90">
                        </div>
                    </div>
                </div>
                <div class="row gx-3">
                    <div class="col">
                        <div class="form-group mb-3">
                            <label for="inp_data_inicio">Data inicio</label>
                            <input type="date" class="form-control" id="inp_data_inicio" name="data_inicio" aria-describedby="inp_data_inicio_help" placeholder="Enter Data inicio" dmxorgdomid="d96">
                        </div>
                    </div>
                </div>
                <div class="row gx-3">
                    <div class="col">
                        <div class="form-group mb-3">
                            <label for="inp_data_termino_prevista">Data termino prevista</label>
                            <input type="date" class="form-control" id="inp_data_termino_prevista" name="data_termino_prevista" aria-describedby="inp_data_termino_prevista_help" placeholder="Enter Data termino prevista" dmxorgdomid="d102">
                        </div>
                    </div>
                </div>
                <div class="row gx-3">
                    <div class="col">
                        <div class="form-group mb-3">
                            <label for="inp_usuario_id">Usuario</label>
                            <input type="number" class="form-control" id="inp_usuario_id" name="usuario_id" aria-describedby="inp_usuario_id_help" placeholder="Enter Usuario" dmxorgdomid="d108">
                        </div>
                    </div>
                </div>
                <div class="row gx-3">
                    <div class="col">
                        <div class="form-group mb-3">
                            <label for="inp_data_fim_realizado">Data fim realizado</label>
                            <input type="date" class="form-control" id="inp_data_fim_realizado" name="data_fim_realizado" aria-describedby="inp_data_fim_realizado_help" placeholder="Enter Data fim realizado" dmxorgdomid="d114">
                        </div>
                    </div>
                </div>
                <div class="row gx-3">
                    <div class="col">
                        <div class="form-group mb-3">
                            <button type="submit" id="btnSubmit" class="btn btn-primary" dmx-bind:disabled="state.executing" dmxorgdomid="d119">Save <span class="spinner-border spinner-border-sm" role="status" dmx-show="state.executing" dmxorgdomid="d120"></span></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/assets/js/ItvalleyJs/demandas/createdemande.js"></script>
<meta name="ac:route" content="/demandas/create-demande">